{% extends 'navbarAbout.html' %}
{% load static %}

{% block content %}
<div style="padding-top: 70px; display: flex; padding-left: 15px;">
    <div style="flex: 1; margin-right: 10px;">
        <label class="switch">
            <input type="checkbox" id="darkmode-switch">
            <span class="slider round"></span>
        </label>
    </div>
    <div style="flex: 8;">
        <span id="day-night-txt" class="text-bg-color" style="transition: 0.6s ease">Day Mode</span>
    </div>
    <div style="flex: 16;"></div>
</div>

<div class="row" style="margin-top: 30px; justify-content: center; padding-bottom: 35px;">
    <div class ="col-sm-5" style="display: flex; flex-direction: row; text-align: left">
        <div style="flex: 1">
            <a href="https://quanta2018.com/Biodata/detail.html?absen=225">
                <img src="{% static 'image/gafi.jpg' %}" alt="Gafi" style="width: 150px; border-radius: 50%">
            </a>
        </div>
        <div style="flex: 1">
            <a href="https://quanta2018.com/Biodata/detail.html?absen=311">
                <img src="{% static 'image/sam.jpg' %}" alt="Sam" style="width: 150px; border-radius: 50%">
            </a>
        </div>
    </div>
    <div class="col-sm-2" style="flex: 1; padding-top: 50px; padding-bottom: 50px; text-align: center">
        <h3 class="text-bg-color" style="transition: 0.6s ease">About Us</h3>
    </div>
    <div class="col-sm-5" style="display: flex; flex-direction: row; text-align: right;">
        <div style="flex: 1">
            <a href="https://quanta2018.com/Biodata/detail.html?absen=201">
                <img src="{% static 'image/ludy.jpg' %}" alt="Ludy" style="width: 150px; border-radius: 50%">
            </a>
        </div>
        <div style="flex: 1">
            <a href="https://quanta2018.com/Biodata/detail.html?absen=333">
                <img src="{% static 'image/remoin.jpg' %}" alt="Reimon" style="width: 150px; border-radius: 50%">
            </a>
        </div>  
    </div>
</div>

<div id="accordion">
    <h3 class="accord-header" style="font-size: 20px; background-color: #84C4FF; color: white; transition: 0.6s ease">Who are we?</h3>
    <div class="text-bg-color accord-bg" style="text-align: center; font-size: 19px;">
        We’re a team of four undergraduate students from the Faculty of <br>
        Computer Science in University of Indonesia, learning about Web Design, and <br>
        are trying to apply them in a contextual fashion. We hope that this web <br>
        application can satisfy some of your needs. Thanks!
    </div>
    <h3 class="accord-header" style="font-size: 20px; background-color: #84C4FF; color: white; transition: 0.6s ease">What is our goal?</h3>
    <div class="text-bg-color accord-bg" style="text-align: center; font-size: 19px;">
        To pass PPW class with passable grade
    </div>
    <h3 class="accord-header" style="font-size: 20px; background-color: #84C4FF; color: white; transition: 0.6s ease">What is the purpose of this website?</h3>
    <div class="text-bg-color accord-bg" style="text-align: center; font-size: 19px;">
        To accomplish our goal
    </div>
</div>

{% if user.is_authenticated %}
<div style="text-align: center; padding-top: 35px; padding-bottom: 10px; font-size: 25px;" style="transition: 0.6s ease">
    <p class="text-bg-color">Please give us your feedback</p>
</div>
<div style="display: flex; justify-content: center; align-items: center; margin-bottom: 20px">
    <form action="send_feedback" method="POST">
        {% csrf_token %}
        <table class="text-bg-color" style="transition: 0.6s ease">
            {{ form.as_table }}
        </table>
        <div style="text-align: center; padding-top : 20px">
            <button class="btn btn-outline-dark" style = "color: #84C4FF" type="submit">Send</button>
        </div>
    </form>
</div>
{% else %}
<div class="text-bg-color" style="text-align: center; font-size: 30px; padding-top: 70px;">
    Log in to give us feedback<br>
    <small><a href="{% url 'login' %}">Click to Login</a></small>
</div>
{% endif %}

{% endblock %}