.box{
    size: 100%;
    width: 100%;
    /* margin: 50px auto; */
    background: #84C4FF;
    padding: 20px;
    text-align: center;
    font-weight: 900;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position:relative;
    border: 3px solid;
    border-radius: 51px;
}

.bd{
    text-align: center;
}
