table {
    margin: 0 auto;
    font-size: 23px;
}

.header{
    text-align: center;
    font-size: 50px;
}

.registerDummies{
    text-align: center;
    font-size: 30px;
}

.submitBtn{
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 25px;
}

#helloWorld{
    color: black;
}

.registerTextHelvetica{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 40px;
}

.registerTextFranklin{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}

.formBox{
    border: 3px solid #84C4FF;
    border-radius: 51px;    
    margin-bottom: 20px;
    padding-top: 10px;
    
}

#navbarEvents{
    background-color: #84C4FF; 
    font-family:Helvetica, Arial, sans-serif;
}

#navbarEvents.dark{
    background-color: #262626;
}



body{
    transition: 0.5s;
}

section{
    transition: 0.5s;
}

body.dark{
    background: #262626;
    color: white;
    transition: 0.5s;
}

#butColor{

    position: absolute;
    margin: 0;
    padding: 0;
    width: 100px;
    height: 30px;
    z-index: 1;
    border: 1px solid black;
    cursor: pointer;
    overflow: hidden;
}

ul.active li{
    transform: translateY(-30px)
}

#butLi{
    list-style: none;
    width: 100%;
    height: 60px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
}





.mode{
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
}

.mode:nth-child(1){
    background: #262626;
    color: white;
}

.fieldColor{
    color : green
}

.borderColor{
    border: #84C4FF 2px solid;
}

/* --------------- for switchbox --------------- */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  /* --------------------------------------------- */