{% extends 'navbar.html' %}
{% load static %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel = 'stylesheet'; href = "{% static 'css/forumbubblebox.css' %}">
<script src="{% static 'tk2forum.js' %}" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <br><br><br>
  <body id= "everything" style="background-color: whitesmoke" >
  
  <h1 style = 'text-align: center'>DISCUSSION FORUM</h1>
  <div style="text-align: center">
    <div class = "col-sm-12 bd">
    Customize your Experience
  <button class="clickme">pink!</button>
  <button class="firstbutton">white!</button>
  <button class="secondbutton">blue!</button><br>
  Do you like our website?<br>
  give us a like! :)
  <span><a class="like-Unlike" href="">Like</a></span>
</div>

how is the weather today?
<p>City : <input type="text" id = "city"></p>
<button class = "btn btn-outline-info" id = "check1">Check</button>
<ul id = "weathers"></ul>

{% if user.is_authenticated %}
<h1>Hi, {{ user.username }}</h1>
<a href="{% url 'logout' %}">Logout</a> here!<br>
{% endif %}

  
  



  
    <div class="container-fluid bg-1 text-center" id ="top">
        <div class="row">
            <div class="col-lg-12">
                <form class="css"method="post">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-sm-1"></div>
                        <div class="form-group col-sm-10 tag">
                            <br>{% for fields in form %}
                                {{ fields.label_tag }}
                                {{ fields }}<br>
                                
                            {% endfor %}
                            <input type="submit" class="btn btn-primary center" value="Add">
                        </div>
                    </div>
                </form>                
            </div>
        </div>

</div>
  </div>

  <div class="container-fluid bg-2 text-center e" id ="schedule">
      <div class="row">
    <div class="col-sm-12 bd">
          <body>
              {% for forum in temp  %}
              <div class = "box sb1">

                  
                      <p>{{ forum.name }}</p><br>
                      <p>{{ forum.message}}</p>
                </div>
              {% endfor %}
          </body>
</div>


</body>
</div>




{% endblock %}