{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" >
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'registerEvent.js' %}"></script>
    <title>Register Event</title>
</head>

<body>

    <nav class="navbar fixed-top navbar-expand-md my-nav navbar-right navbar-dark" style="background-color: #84C4FF; font-family:Helvetica, Arial, sans-serif " id="navbar">
        <a class="navbar-brand but"  id="hrp" href="#">Search-IT-Event</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" id="dropMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-right" id="navbarNavAltMarkup">

            <div class="navbar-nav ml-auto navbar-right">
                
                <a class="nav-item nav-link ml-4 butPage" href="{% url 'searchevents' %}" >Events</a>
                
                <a class="nav-item nav-link ml-4 active butPage" href="{% url 'register' %}" id="now">Register Event</a>
                
                <a class="nav-item nav-link ml-4 butPage" href="{% url 'forum' %}">Forum</a>
                
                <a class="nav-item nav-link ml-4 butPage" href="{% url 'about_us:aboutus' %}">About Us</a>
                
            </div>
        </div> 
    </nav>
    
    <div class="container-fluid">
        <div id="textanchor" class="registerTextHelvetica">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>
