{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" >
    <title>Search-It-Event</title>
    
    <!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
     -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{% static 'Events.js' %}"></script>

</head>

<body>

    <nav class="navbar fixed-top navbar-expand-md my-nav navbar-right navbar-dark" id="navbarEvents">
        {% if user.is_authenticated %}
                
            <a class="nav-item nav-link ml-4 butPage" href="#" style="color: #262626; font-weight: 600;">Hello {{ user }}</a>
                
        {% else %}
                
            <a class="nav-item nav-link ml-4 butPage" href="#" style="color: #262626; font-weight: 600;">Hello{{ user }}</a>
                
        {% endif %}
        <a class="navbar-brand but"  id="hrp" href="#">Search-IT-Event</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" id="dropMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-right" id="navbarNavAltMarkup">

            <div class="navbar-nav ml-auto navbar-right">
                
                <a class="nav-item nav-link ml-4 active butPage" href="#" id="now" >Events</a>
                
                <a class="nav-item nav-link ml-4 butPage" href="{% url 'register' %}">Register Event</a>
                
                <a class="nav-item nav-link ml-4 butPage" href="{% url 'forum' %}">Forum</a>
                
                <a class="nav-item nav-link ml-4 butPage" href="{% url 'about_us:aboutus' %}">About Us</a>

                {% if user.is_authenticated %}
                
                <a class="nav-item nav-link ml-4 butPage" href="{% url 'logout' %}" id="logout">Logout</a>
                
                {% else %}
                
                <a class="nav-item nav-link ml-4 butPage" href="{% url 'login' %}">Login</a>
                
                {% endif %}
                
            </div>
        </div> 
    </nav>

    
    <div class="container-fluid">
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>