{% extends 'navbar.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" >
    <br><br><br>
    <ul id="butColor">
        <li id="butLi">
            <span class="mode">Dark</span>
            <span class="mode">Light</span>
        </li>
    </ul>
    
    
    <div class="header">Search Event</div>
    <form method="POST">
        {% csrf_token %}
        <table>
            <div class="form-group">
                {{ form }}
        </div>
        </table>
        <br><br>
        <div class="submitBtn">
            <button type="submit" class="btn btn-primary">
                SUBMIT
            </button>
        </div>
    </form>
</div>

{% endblock %}

<!-- <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="{% static 'Events.js' %}"></script> -->