{% extends 'navbarRegister.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" >
    
<br>
    <button id="changeFont" class="btn btn-primary">Toggle Font</button>
    <div class="header">
        {% if user.is_authenticated %}
            <h1>Hi, {{ user.username }}</h1>
            <a href="{% url 'logout' %}">Logout</a> here!<br>
        {% endif %}
        Register Event
    </div>
    {% if user.is_authenticated %}
        <form method="POST">
            {% csrf_token %}
            <table>
                <div class="form-group">
                    {{ form }}
            </div>
            </table>
            <br><br>
            <div class="submitBtn">
                <button type="submit" class="btn btn-primary">
                    SUBMIT
                </button>
            </div>
        </form>
    {% else %}
        <div class="header">
            You aren't logged in yet!<br>
            <a href="{% url 'login' %}">Login</a> here!<br>
        </div>
    {% endif %}
    <br><br>
    <div class="registerDummies">
        Example of an event registered on this site:<br>
        <div id="dummyName"></div>
        <div id="dummyCategory"></div>
        <div id="dummyDate"></div>
        <div id="dummyTime"></div>
        <div id="dummyFee"></div>
    </div>
</div>
{% endblock %}