{% extends 'navbarRegister.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" >
    <br><br><br>
    <div class="header">Event Successfully Added!</div>
{% endblock %}